<!DOCTYPE html>

<html>

<head>
    <title>Yield Predictor</title>
    <link rel="icon" href="/img/weather.png">
    <!--link rel="stylesheet" href="/css/styles.css"-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="bg-light">
    
    <div class="container">
        {{>header}}
        <h3>Result - <b>{{Scored_Labels}}</b></h3>
        <a href="/">Back</a>
        {{>footer}}
    </div>
    
    
</body>

</html>