<header>
	<div class="container">
		<div class="sixteen columns alpha omega">
			<h1 class="logo">
				<a href="http://www.maddim.com/">
					<img src="images/logo.png" alt="Spark" class="scale-with-grid hide-for-mobiles" />
					<img src="images/logo-mobile.png" alt="Spark" class="scale-with-grid mobiles-only" /><!-- Alternative image for mobile devices -->
				</a>
			</h1>

			<nav class="menu">
				<ul>
					<li><a href="#home" class="active">Welcome</a></li>
					<li><a href="./hw">Laptop/Desktops</a></li>
					<li><a href="./sw">Software Solution</a></li>
                    <li><a href="./byc">Build Your Machine</a></li>
                    <li><a href="./hw/ourservices.php">Get Quote</a></li>
                    <!--<li><a href="#pricing">Career</a></li>
					<li><a href="#contact">Contact</a></li> -->
				</ul>
			</nav>
		</div><!-- .columns -->
	</div><!-- .container -->

	<div class="bottom-gradient">
		<span class="left"></span>
		<span class="center"></span>
		<span class="right"></span>
	</div>	
</header>