body{ font-family:Arial, Helvetica, sans-serif; font-size:12px}
.main{ margin:50px auto; width:900px;}
.contain{ width:900px; min-height:500px; border:solid 1px #999999; float:left; display:inline; margin-bottom:20px;}
.header{ width:900px; height:25px; background:#CCCCCC; padding:4px;}
.header a{ line-height:25px;}
.header a:hover{ color:#090;}
.text{ width:200px; border:solid 1px #999999 hidden:30px; padding:4px;}
textarea{ width:200px; height:150px;}
td{ vertical-align:top;}
th{ background:#CCCCCC;}
a{ color:#666666; font-weight:bold; font-size:13px; text-decoration:none; padding:4px;}

a img{ border:none;}

.footer{ margin-bottom:20px; padding-bottom:20px;}
.page{ width:200px; margin:15px auto; font-weight:bold;}


.login_main{ width:400px; margin:100px auto;}
.login_box{ width:400px; height:350px;}
.heading{ height:100px; border-bottom:solid 2px #999; color:#FFFFFF; font-weight:bold; text-align:center; font-size:16px; line-height:30px;}
.worning{ width:300px; margin-left:50px; height:30px; text-align:center; border:solid 1px #FBB097; background:#FCEADC; margin-top:15px; font-size:12px; color:#FF0000; line-height:30px;}

.login{ width:400px; font-weight:bold; margin-top:15px;}
.success{ width:300px; height:40px; background:#B7F9C2; border:solid 1px #12A943; margin:30px auto; text-align:center; line-height:40px;}
.failed{ width:300px; height:40px; background:#FDD7D0; border:solid 1px #FD674D; color:#FA1E05; margin:30px auto; text-align:center; line-height:40px;}
.pagination{ width:350px; margin:20px auto}
.pagination span{ background:#CCC; padding:2px; margin-right:2px;}
.pagination span a{ background:#CCC; padding:2px; color:#090; margin-right:2px;}
input, select{ border:solid 1px #999; width:200px; padding:3px;}
.odd{ background:#CFE2F5;}